<?php View::content(); ?>
<?php echo form_tag('menus/edit/') ?>
<table>
    <tr>
        <td>Nombre</td>
        <td><?php echo text_field_tag(array('menus.nombre')) ?></td>
    </tr>
    <tr>
        <td>Titulo</td>
        <td><?php echo text_field_tag(array('menus.titulo')) ?></td>
    </tr>   
    <tr>
        <td>&nbsp;</td>
        <?php echo hidden_field_tag(array('menus.id')) ?>
        <td><?php echo submit_tag('Actualizar') ?></td>
    </tr>
</table>
<?php echo end_form_tag() ?>