<div class="content">
    <?php echo View::content(); ?>
    <h3>Menus</h3>
    <ul>
    <?php foreach ($listMenus->items as $item) : ?>
    <li>
        <?php echo link_to("menus/create",'Agregar'); ?>
        <?php echo link_to(array("menus/edit/$item->id/", 'Editar')) ?>
        <?php echo link_to(array("menus/del/$item->id/", 'Borrar')) ?><br/>
        <strong><?php echo $item->nombre ?> - <?php echo $item->titulo ?></strong>
    </li>
    <?php endforeach; ?>
    </ul>
    
    <?php if($listMenus->prev) echo Html::link("menus/index/$listMenus->prev/", '<< Anterior |'); ?>
    <?php if($listMenus->next) echo Html::link("menus/index/$listMenus->next/", '| Próximo >>'); ?>
</div>